---
export interface Props {
	uri: string
    siteId: number
}

const { uri, siteId } = Astro.props as Props;

const response = await fetch(import.meta.env.PUBLIC_API_URL, {
        method: 'POST',
        body: JSON.stringify({
            query: `
                    query queryHome($uri: [String]!, $siteId: [QueryArgument]!) {
                        entry(uri: $uri, siteId: $siteId){
                            id
                            title
                            uri
                            uri
                            typeHandle
                            sectionHandle
                            siteId
                            }
                        }
                    `,
            variables: {
                uri: uri,
                siteId: siteId
            }
        }),
        headers: {
            'Content-Type': 'application/json',
            'Authorization': import.meta.env.PUBLIC_API_TOKEN,
        },
}).then((response) => response.json());
const {data: {entry}} = await response

---
<h1>Views / Home</h1>
<h2>
    Title: {entry.title}<br>
    Section: {entry.sectionHandle}<br>
    Id: {entry.id}<br>
    SiteId: {entry.siteId}<br>
    Uri: {entry.uri}
</h2>
