---
import RouterEntries from '@components/Views/RouterEntries.astro'
import Seomatic from '@components/Seo/Seomatic.astro'

export interface Props {
	title: string;
	id: string;
	siteId: number;
	sectionHandle: string;
	entryType: string;
	lang: string;
    translations: [
        {
            key: string,
            message: string
        }
    ]
	seo: {
		[key: string]: string
	}
}

const { title, id, siteId, sectionHandle, entryType, lang, translations, seo } = Astro.props as Props;
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<Seomatic {seo} />
	</head>
	<body>
		<RouterEntries sectionHandle={sectionHandle} entryType={entryType} id={id} siteId={siteId} translations={translations} /> 
	</body>
</html>
