---
import RouterEntries from '@components/Views/RouterEntries.astro'
import Seomatic from '@components/Seo/Seomatic.astro'
import Heading from '@components/Text/Heading.svelte'
import Link from '@components/Text/Link.svelte'

export interface Props {
	uri: string;
	siteId: number;
	sectionHandle: string;
	entryType: string;
	lang: string;
    translations: [
        {
            key: string,
            message: string
        }
    ]
	seo: {
		[key: string]: string
	}
}

const { uri, siteId, sectionHandle, entryType, lang, translations, seo } = Astro.props as Props;
---
<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<Seomatic {seo} />
	</head>
	<body>
		<Heading text="Default Layout" vSize="mega" sRoot="p-8" />
		<Link href="https://davidhellmann.com" text="Click me" />
		<Link text="Click me" vColor="secondary" />
		<RouterEntries sectionHandle={sectionHandle} entryType={entryType} uri={uri} siteId={siteId} /> 
		<h2>Translations</h2>
		<ul>
			{translations.map((item) => (
				<li>{item?.key}: {item?.message}</li>
			))}
		</ul>
	</body>
</html>
